{% extends 'base.html.twig' %}

{% block title %}Edit Canal{% endblock %}

{% block body %}
    <h1>Edit Canal</h1>
    {#{{ url }}
    {{ urlPath }}
     <pre>
        {{ dump(targetPath) }}
     </pre>
     <pre>
         {{ dump(request) }}
     </pre>
    <pre>
        {{ dump(session) }}
    </pre>#}
    {{ include('canal/editCabecera.html.twig', {'canalId': canal.id}) }}

    {{ include('canal/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('canal_index') }}">back to list</a>

    {{ include('canal/_delete_form.html.twig') }}
{% endblock %}
