{% extends extiende == 'true' ? "base.html.twig" : "blank.html.twig" %}

{% block title %}{{ canal.nombreCanal }}{% endblock %}

{% block body %}
    
    <div class="container-fluid p-4 bg-dark">
        <div id="editCanalFlash" class="col-12">
            <div id="exitoEdicion" class="alert alert-success d-none">
            </div>
        </div>
        <h1 id="nombreCanalH1">{{ canal.nombreCanal }}</h1>
        <span id="numSuscriptores">{{ canal.suscritosAMi | length }} suscriptores</span>
        <div class="row">
            {% if app.user is defined and app.user.id == canal.id %}
                <div class="mt-2 col-12 col-sm-3 mb-4">
                    <button onclick="permitirEditarForm('formSubirVideo');" type="button" class="btn btn-info" data-toggle="modal" data-target="#modalSubidaVideo">
                        Subir vídeo
                    </button> 
                </div>
                <div class="col-12 mt-2 col-sm-4 mb-4">
                    <button type="button" onclick="permitirEditarForm('editFormCanal');"  class="btn btn-info" data-toggle="modal" data-target="#modalEditCanal">
                        Personalizar canal
                    </button>
                    {#<a href="{{ path('canal_edit', {'id': app.user.id}) }}" class="btn btn-info">Personalizar canal</a>#}
                </div>
                {% else %}
                    <div class="col-12 offset-3 offset-md-3 col-lg-2 offset-lg-3 offset-sm-0 col-sm-12 col-md-2" id="toggleSuscripcion">
                        {% include "suscripcion/toggleSuscripcion.html.twig" %}
                    </div>
            {% endif %}
            
        </div>
        

        
        
        <ul class="nav nav-tabs">
            <li class="nav-item">
                {% set url = path('video_list') %}
              <a class="nav-link blanco active" href="" id="tabVideos" onclick="event.preventDefault();cambiarTabActiva(this, '{{ url }}', '{{ canal.id }}')">VÍDEOS</a>
            </li>
            <li class="nav-item">
                {% set url = path('comentario_list') %}
              <a class="nav-link blanco" href="{{ path('comentario_list') }}" id="tabComunidad" onclick="event.preventDefault();cambiarTabActiva(this, '{{ url }}', '{{ canal.id }}', 'canal');">COMUNIDAD</a>
            </li>
          </ul>
    </div>

    {% if app.user %}
            
            <!-- Button trigger modal -->
               

         <!-- Modal -->
        <div class="modal fade overflow-auto" id="modalSubidaVideo" tabindex="-1" role="dialog" aria-labelledby="modalSubidaVideoLabel" aria-hidden="true">
            <div class="modal-dialog overflow-auto" role="document">
                <div class="modal-content bg-dark">
                    <div class="modal-header">
                    <h5 class="modal-title text-white" id="modalSubidaVideoLabel"> Subida de vídeo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        {#{% include "video/new.html.twig" with {'form': form, 'video': video} %}#}
                        {{ render(path('video_new')) }}
                        {#{{ render(controller(
                            'App\\Controller\\VideoController::new'
                        )) }}#}
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade overflow-auto" id="modalEditCanal" tabindex="-1" role="dialog" aria-labelledby="modalSubidaVideoLabel" aria-hidden="true">
            <div class="modal-dialog overflow-auto w-75 m-auto" role="document">
                <div class="modal-content bg-dark">
                    <div class="modal-header">
                    <h5 class="modal-title text-white" id="modalEditCanalLabel"> Editar Canal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        {#{% include "video/new.html.twig" with {'form': form, 'video': video} %}#}
                        
                        {{ render(path('canal_edit', {'id': app.user.id})) }}
                        {#{{ render(controller(
                            'App\\Controller\\VideoController::new'
                        )) }}#}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
        
        
        <div id="comunidadOVideos">
            {% if app.user and app.user.id == canal.id %}
                {% include "video/index.html.twig" with {'videos': canal.videos , 'extiende': 'false', 'borrar': true} %}
                {% else %}
                    {% include "video/index.html.twig" with {'videos': canal.videos, 'extiende': 'false'} %}
            {% endif %}
            
        </div>

    

    <!--<a href="{{ path('canal_index') }}">back to list</a>

    <a href="{{ path('canal_edit', {'id': canal.id}) }}">edit</a>

    {{ include('canal/_delete_form.html.twig') }}-->
{% endblock %}
