{% if videosFiltrados is defined and videosFiltrados | length > 0 %}
    <h1>Vídeos</h1>
        {% for video in videosFiltrados %}
            <div class="row m-4">
                <div class="col-3 col-sm-2">
                    <a href="{{ path('video_show', { 'id': video.id }) }}">
                        <img  class="imgCanal" src="{{asset('uploads/'~ video.idCanal.id ~ '/miniaturas/' ~ video.id)}}" id=''~ {{ video.id }}>
                    </a>
                </div>
                
                <div class="col-8">
                    <a href="{{ path('video_show', { 'id': video.id }) }}" class="text-white">
                        <h3>{{ video.titulo }}</h3>
                    </a>
                    
                    <a href="{{ path('canal_show', { 'id': video.idCanal.id }) }}" class="h4">
                        <span>{{ video.idCanal.nombreCanal }}</span>
                    </a>
                    <p>
                        <span>{{ video.fechaPublicacion | date('d/m/Y') }}</span>
                    </p>
                </div>
            </div>
        {% endfor %}
        {% else %}
            <p>Este filtro no ha devuelto resultados</p>
{% endif %}
