<div id="canalesEncontrados">
    {% if canales | length > 0 %}
        <h1>Canales</h1>
        {% for canal in canales %}
            <div class="row my-4 ml-4">
                <div class="col-3 col-sm-5 float-left">
                    {#onerror="this.src='imgPerfil/profile.jpg'"#}
                    <a href="{{ path('canal_show', { 'id': canal.id }) }}">
                        <img class="imgResBusqueda" src="{{asset('imgPerfil/'~ canal.id)}}" onerror="this.src = assetsProfilesPics+'profile.jpg';" id=''~ {{ canal.id }}>
                    </a>
                </div>
                
                <div class="col-8 col-sm-6 float-left">
                    <a href="{{ path('canal_show', { 'id': canal.id }) }}" class="text-white">
                        <h3>{{ canal.nombreCanal }}</h3>
                    </a>

                    <span>{{ canal.suscriptores }} suscriptor(es)</span>
                    
                </div>
            </div>
        {% endfor %}
        {% else %}
        <p>No existen canales que coincidan con los parámetros de búsqueda</p>
    {% endif %}
    
</div>