<div class="container-fluid mt-1" id="suscripcionFlash">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
</div>
<div class="row">
    <div class="col-12">
        {% if app.user %}
            {% if video is defined %}
                {% if app.user == video.idCanal %}
                    
                {% else %}
                    {% if app.user.id in idSuscritosAlCanal %}
                        {% set token = csrf_token('delete') %}
                        {% set url = path('suscripcion_delete') %}
                        <a href="{{ path('suscripcion_delete') }}" class="btn btn-danger" id="linkDeleteSuscripcion" 
                        onclick="event.preventDefault();toggleSuscripcion('borrar', '{{ video.id }}', '{{ url }}', 
                        '{{ app.user.id }}', ' {{ video.idCanal.id }}', '{{ token }}');">{% trans %}SUSCRITO{% endtrans %}</a>
                        {% else %}
                            {% set url = path('suscripcion_new') %}
                            <a href="{{ path('suscripcion_new') }}" class="btn btn-danger" id="linkNewSuscripcion" 
                            onclick="event.preventDefault();toggleSuscripcion('crear', '{{ video.id }}', '{{ url }}', 
                            '{{ app.user.id }}', ' {{ video.idCanal.id }}');">{% trans %}SUSCRIBIRSE{% endtrans %}</a>
                    {% endif %}
                {% endif %}
                {% elseif canal is defined %}
                    {% if app.user == canal %}
                    {% else %}
                        {% if app.user.id in idSuscritosAlCanal %}
                            {% set token = csrf_token('delete') %}
                            {% set url = path('suscripcion_delete') %}
                            <a href="{{ path('suscripcion_delete') }}" class="btn btn-danger" id="linkDeleteSuscripcion" 
                            onclick="event.preventDefault();toggleSuscripcion('borrar', null , '{{ url }}', 
                            '{{ app.user.id }}', ' {{ canal.id }}', '{{ token }}');">{% trans %}SUSCRITO{% endtrans %}</a>
                            {% else %}
                                {% set url = path('suscripcion_new') %}
                                <a href="{{ path('suscripcion_new') }}" class="btn btn-danger" id="linkNewSuscripcion" 
                                onclick="event.preventDefault();toggleSuscripcion('crear', null, '{{ url }}', 
                                '{{ app.user.id }}', ' {{ canal.id }}');">{% trans %}SUSCRIBIRSE{% endtrans %}</a>
                        {% endif %}
                    {% endif %}
            {% endif %}
            
            {% else %}
               
        {% endif %}
        
    </div>
    
</div>

