{% block title %}Video index{% endblock %}

{% block body %}
<div class="container-fluid m-1">
    
    {% if videos is defined  %}
    <pre>
    </pre>
        <div class="row">
            <!-- -->
                {% for video in videos %}
                    <div class="col-10 col-sm-10 col-md-5 col-xl-3 col-lg-4 p-4 m-lg-0 m-md-auto m-auto m-sm-auto">
                        <a>
                            <img  class="imgCanal" src="{{asset('uploads/'~ video.idCanal.id ~ '/miniaturas/' ~ video.id)}}" id=''~ {{ video.id }}>
                        </a>
                        <a href="{{ path('video_show', { 'id': video.id }) }}">
                            <h3 class="text-white">{{ video.titulo }}</h3>
                        </a>
                        {% if index is defined %}
                            <a href="{{ path('canal_show', { 'id': video.idCanal.id }) }}">
                                <h3 class="text-white">{{ video.idCanal.nombreCanal }}</h3>
                            </a>
                            {% else %}
                                <span>{{ video.fechaPublicacion }}</span>
                        {% endif %}
                    </div>
                {% endfor %}
     </div>
    {% endif %}
    
            
       
</div>
    

    
    
{% endblock %}
