{% extends 'base.html.twig' %}

{% block title %}Video{% endblock %}

{% block body %}
    
    
    <div class="row m-4">
        <div class="col-8 col-lg-8 col-xl-8 col-md-12 col-sm-12 h-25">
            <video width="100%" controls>
                <source src="{{asset('uploads/'~ video.idCanal.id ~ '/videos/' ~ video.id)}}">
                
              Your browser does not support the video tag.
              </video>
              <div class="row">
                <div class="col-7">
                    <h1>{{ video.titulo }}</h1>
                    <h2>{{ video.duracion }}</h2>
                    <span> Fecha de publicación: {{ video.fechaPublicacion | date('d/m/Y')  }}</span>
                    <div class="row">
                        <div class="col-3">
                            <a href="{{ path('canal_show', { 'id': video.idCanal.id }) }}" class="text-white">
                                <h2 class="nombreCanal">{{ video.idCanal.nombreCanal }}</h2>
                            </a>
                        </div>
                        
                        <div class="container-fluid" id="toggleSuscripcion">
                            {% include "suscripcion/toggleSuscripcion.html.twig" with {'video' : video} %}
                        </div>
                       
            
                        
                    </div>
                    
                   
                    <span id="numSuscriptores">{{ video.idCanal.suscritosAMi | length }} suscriptor(es)</span>
                    <p>{{ video.descripcion }}</p>
            
                    <div id="divComentarios">
                        {% include "comentario/viewComments.html.twig" with {'nivel' : 'video'} %}
                    </div>
                    
                </div>    
                
            </div>
              
        </div>

        <div class="col-4">
            {% include "video/index.html.twig" with {'videos': videosCategoria, 'extiende': false, 'recomendados': true} %}
        </div>

        
        
    </div>
    
    

    {#<a href="{{ path('video_index') }}">back to list</a>

    <a href="{{ path('video_edit', {'id': video.id}) }}">edit</a>

    {{ include('video/_delete_form.html.twig') }}#}
{% endblock %}
