{% extends 'base.html.twig' %}

{% block title %}Video{% endblock %}

{% block body %}
    
    
    <div class="row m-4">
        <div class="col-8 col-lg-8 col-xl-8 col-md-12 col-sm-12 h-25 border border-white">
            <video width="100%" controls>
                <source src="{{asset('uploads/'~ video.idCanal.id ~ '/videos/' ~ video.id)}}">
                
              Your browser does not support the video tag.
              </video>
        </div>
        
    </div>
    <div class="m-4">
        <h1>{{ video.titulo }}</h1>
        <h2>{{ video.duracion }}</h2>
        <span> Fecha de publicación: {{ video.fechaPublicacion }}</span>
        <div class="row">
            <div class="col-3">
                <a href="{{ path('canal_show', { 'id': video.idCanal.id }) }}" class="text-white">
                    <h2 class="nombreCanal">{{ video.idCanal.nombreCanal }}</h2>
                </a>
            </div>
            <div class="col-12 offset-3 offset-md-3 col-lg-2 offset-lg-3 offset-sm-0 col-sm-12 col-md-2" id="toggleSuscripcion">
                {% include "suscripcion/toggleSuscripcion.html.twig" with {'video' : video} %}
            </div>
           

            
        </div>
        
       
        <span id="numSuscriptores">{{ video.idCanal.suscritosAMi | length }} suscriptor(es)</span>
        <p>{{ video.descripcion }}</p>

        {% include "comentario/viewComments.html.twig" with {'nivel' : 'video'} %}
    </div>

    
    
    {#<table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ video.id }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ video.titulo }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ video.descripcion }}</td>
            </tr>
            <tr>
                <th>Mg</th>
                <td>{{ video.mg }}</td>
            </tr>
            <tr>
                <th>Dislike</th>
                <td>{{ video.dislike }}</td>
            </tr>
            <tr>
                <th>Duracion</th>
                <td>{{ video.duracion ? video.duracion|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>FechaPublicacion</th>
                <td>{{ video.fechaPublicacion ? video.fechaPublicacion|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('video_index') }}">back to list</a>

    <a href="{{ path('video_edit', {'id': video.id}) }}">edit</a>#}

    {{ include('video/_delete_form.html.twig') }}
{% endblock %}
