<!DOCTYPE html>
<script>
  var assetsProfilesPics = "{{ asset('imgPerfil/') }}"
</script>
<html lang="es">
    {% set menu = true %}
    
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% trans %}Bienvenido{% endtrans %}{% endblock %}</title>
        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}

            <!-- Renders a link tag (if your module requires any CSS)
            <link rel="stylesheet" href="/build/app.css"> -->
        {% endblock %}
    </head>
    {% set url = app.request.uri %}
    <body onload="cargarRutaActual('{{url}}')">
      <div class="modal fade" id="modalSpinner" tabindex="-1" role="dialog" aria-labelledby="modalSpinnerLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered w-25 m-auto" role="document">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                <h5 class="modal-title text-white" id="modalSpinnerLabel"> {% trans %}Cargando...{% endtrans %}</h5>
                </div>
                <div class="modal-body d-flex justify-content-center" id="cuerpoModalSpinner">
                   
                </div>
            </div>
        </div>
      </div>
      {#<h1>{{ app.request.locale }}</h1>#}
      
        <nav id="barraNavegacion" class="navbar navbar-expand navbar-dark bg-secondary sticky-top">
          {% if app.user %}
            <ul class="navbar-nav">
              <li class="nav-item dropdown mr-1">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="{{ asset('img/toggleMenuLateral.png')}}" alt="menuLateral" class="rounded">
                </a>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{{ path('video_index') }}">{% trans %}Página principal{% endtrans %}</a>
                  <a class="dropdown-item" href="{{ path('canal_show', {'id': app.user.id }) }}">{% trans %}Tus vídeos{% endtrans %}</a>
                  <div class="dropdown-divider"></div>
                  {% if app.user.misSuscripciones | length > 0 %}
                    <span class="p-4">{{ app.user.misSuscripciones | length }} {% trans %}Suscripciones{% endtrans %}</span>
                    {% for suscripcion in app.user.misSuscripciones %}
                      <a class="dropdown-item" href="{{ path('canal_show', {'id': suscripcion.canalAlQueSuscribe.id }) }}">{{ suscripcion.canalAlQueSuscribe.nombreCanal }}</a>
                    {% endfor %}
                  {% endif %}

                </div>
              </li>

            </ul>
          {% endif %}
            <a class="navbar-brand" href="{{ path('video_index') }}">
                <img class="imgCabecera" src="{{ asset('img/logofondo_blanco.png')}}" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              
              <form action="{{ path('buscar') }}"class="form-inline my-2 my-lg-0 m-auto" id="formBusqueda">
                <input class="form-control mr-sm-2" type="search" id="textoBusqueda" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0 d-sm-none d-none d-md-block" id="submitBusqueda" type="submit" disabled>{% trans %}Buscar{% endtrans %}</button>
              </form>
              {% if app.user %}
              
                <ul class="navbar-nav float-right bg-dark">
                  <li class="nav-item dropdown">
                    {#"{{ path('blog_show', {'slug': 'my-blog-post'})|escape('js') }}"#}
                    {#onerror="this.src='imgPerfil/profile.jpg'"#}
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img class="imgCabecera rounded" src="{{asset('imgPerfil/'~ app.user.id)}}"
                       onerror="this.src = assetsProfilesPics+'profile.jpg';"
                       alt="logoPerfil" id="iconoPerfil">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right bg-dark" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="{{ path('canal_show', {'id': app.user.id }) }}">{% trans %}Tu cuenta{% endtrans %}</a>
                      <a class="dropdown-item rojo" href="{{ path('app_logout') }}">{% trans %}Cerrar sesión{% endtrans %}</a>
                      {% set confirmationBorrar = '¿Estás seguro de borrar esta cuenta?' %}
                      <form method="post" action="{{ path('canal_delete', {'id': app.user.id}) }}" onsubmit="return confirm('{{ confirmationBorrar|trans }}');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.id) }}">
                        <button class="dropdown-item rojo">{% trans %}Borrar cuenta{% endtrans %}</button>
                    </form>
                      <div class="dropdown-divider"></div>
                      {% if app.request.locale == 'en' %}
                        <a class="dropdown-item text-center" href="{{ path('traducir', {'_locale': 'es', 'previo': ''~ app.request.get('_route') }) }}">
                          <img width="50" src="{{ asset('img/banderaEspanya.png')}}" alt="español">
                        </a>
                        {% elseif app.request.locale == 'es' %}
                          <a class="dropdown-item text-center" href="{{ path('traducir', {'_locale': 'en', 'previo': ''~ app.request.get('_route') }) }}">
                            <img width="50" src="{{ asset('img/banderaInglaterra.png')}}" alt="inglés">
                          </a>
                      {% endif %}

                    </div>
                  </li>
                </ul>
                {% else %}
                <a href="{{ path('app_login', { 'previo':  app.request.uri|replace({'/': '-'}) })}}">
                  <img class="imgCabecera" src="{{ asset('img/iniciar-sesion.png')}}" alt="iconoInicioSesion">
                </a>
              {% endif %}

              
              
              
            </div>
          </nav>

          {% for message in app.flashes('success') %}
            
            <div class="alert alert-success">
                {{ message }}
            </div>
          {% endfor %}

          {% for message in app.flashes('error') %}
            
            <div class="alert alert-danger">
                {{ message }}
            </div>
          {% endfor %}
        <div id="contenidoBuscador">
         
          {% block body %}
        
          {% endblock %}
        </div>
        
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
        <footer>
          <div>{% trans %}Iconos diseñados por{% endtrans %} <a class="text-white" href="https://www.flaticon.es/autores/freepik" title="Freepik">Freepik</a>: <a class="text-white" href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></div>
        </footer>
    </body>
</html>
