<div class="row m-4" >
    {% if video.comentarios is defined and video.comentarios |length > 0 %}
        <h2 id="numComentarios">{{ video.comentarios|length }} {% trans %}comentario(s){% endtrans %}</h2>
        {% elseif video.comentarios is defined and video.comentarios | length == 0 %}
            <h2 id="numComentarios">{% trans %}Sé el primero en comentar{% endtrans %}</h2>
    {% endif %}

    {% if canal.comentarios is defined and canal.comentarios |length > 0 %}
        <h2 id="numComentarios">{{ canal.comentarios|length }} {% trans %}comentario(s){% endtrans %}</h2>
        {% elseif canal.comentarios is defined and canal.comentarios | length == 0%}
            <h2 id="numComentarios">{% trans %}Sé el primero en comentar{% endtrans %}</h2>
    {% endif %}
</div>

<div class="container-fluid mt-1" id="comentarioFlash">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
</div>

<div class="row m-4" id="comentarios">
    {% if video is defined and app.user == video.idCanal %} {#Estamos en los comentarios de un vídeo #}
        {% elseif canal is defined and app.user == canal %} {#Estamos en los comentarios de un canal #}
        {% elseif app.user %}
            <div class="col-12 col-md-7 mb-md-4 mb-0">
                <textarea id="comentario" placeholder="Escribe el comentario que desees" 
                class="bg-dark text-white" rows="5" maxlength="255" onkeyup="activarBotonComentar(this)"></textarea>                            
                    
            </div>
            <div class="col-12 col-md-4">
            {% set url = path('comentario_new') %}
                {% if nivel == 'video' %}
                    <button id="botonComentar" disabled class="btn btn-info" 
                    onclick="escribirOMostrarComentario( '{{ url }}' , '{{ video.id }}', 'null','crear', 'video' )">{% trans %}Comentar{% endtrans %}</button>
                    {% elseif nivel == 'canal' %}
                        <button id="botonComentar" disabled class="btn btn-info" 
                        onclick="escribirOMostrarComentario( '{{ url }}' , 'null', '{{ canal.id }}', 'crear', 'canal' )">{% trans %}Comentar{% endtrans %}</button>
                {% endif %}
                
                
            </div>
    {% endif %}

    <div class="container-fluid my-4" id="soloComentarios">
        {% set url = path('comentario_delete') %}
        
        {% if canal.comentarios is defined and canal.comentarios | length > 0 %}
            {% for comentario in canal.comentarios | reverse %}
                {% set token = csrf_token('delete'~ comentario.id) %}
                <div class="container-fluid" id='{{ comentario.id }}'>
                    <div class="row">
                        <div class="col-12 mb-2 mb-sm-4 col-sm-2">
                            {% if comentario.canalQueComenta != null %}
                                <a href="{{ path('canal_show', { 'id': canal.id }) }}">
                                    <img class="imgResBusqueda" src="{{asset('imgPerfil/'~ comentario.canalQueComenta.id)}}" width="90" 
                                    onerror="this.src = assetsProfilesPics+'profile.jpg';" id=''~ {{ canal.id }}>
                                </a>
                                {#<a class="blanco h4" href="{{ path('canal_show', {'id': comentario.canalQueComenta.id }) }}"><span class="text-white"> {{ comentario.canalQueComenta.nombreCanal }}</span></a>#}
                                {% else %}
                                    <img class="imgResBusqueda" src="{{asset('imgPerfil/profile.jpg')}}" width="90">
                                    {#<span class="text-white"> Desconocido </span></a>#}
                            {% endif %}
                        </div>
                        <div class="col-12 col-sm-9">
                            {% if comentario.canalQueComenta != null %}
                                <a class="blanco h4" href="{{ path('canal_show', {'id': comentario.canalQueComenta.id }) }}"><span class="text-white"> {{ comentario.canalQueComenta.nombreCanal }}</span></a>
                                {% else %}
                                    <span class="text-white h4"> {% trans %}Desconocido{% endtrans %} </span></a>
                            {% endif %}
                            <span> {{ comentario. fechaComentario | date('d/m/y') }} </span>
                            
                            <p>{{ comentario.contenido }}</p>
                            {% if app.user and app.user == comentario.canalQueComenta %}
                                <button class="mb-2 btn btn-danger ml-1" 
                                onclick="borrarComentario('{{ url }}', '{{ comentario.id }}', null, '{{ canal.id }}', '{{ token }}')">{% trans %}Borrar comentario{% endtrans %}</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% elseif video.comentarios is defined and video.comentarios | length > 0 %}
                {% for comentario in video.comentarios | reverse %}
                    {% set token = csrf_token('delete'~ comentario.id) %}
                    <div  class="container-fluid" id='{{ comentario.id }}'>
                        <div class="row">
                            <div class="col-12 mb-2 mb-sm-4 col-sm-2">
                                {% if comentario.canalQueComenta != null %}
                                    <a href="{{ path('canal_show', { 'id': comentario.canalQueComenta.id }) }}">
                                        <img class="imgResBusqueda" src="{{asset('imgPerfil/'~ comentario.canalQueComenta.id)}}" onerror="this.src = assetsProfilesPics+'profile.jpg';" id=''~ {{ comentario.canalQueComenta.id }}>
                                    </a>
                                    {#<a class="blanco h4" href="{{ path('canal_show', {'id': comentario.canalQueComenta.id }) }}"><span class="text-white"> {{ comentario.canalQueComenta.nombreCanal }}</span></a>#}
                                    {% else %}
                                        <img class="imgResBusqueda" src="{{asset('imgPerfil/profile.jpg')}}">
                                        {#<span class="text-white"> Desconocido </span></a>#}
                                {% endif %}
                            </div>
                            <div class="col-12 col-sm-9">
                                {% if comentario.canalQueComenta != null %}
                                    <a class="blanco h4" href="{{ path('canal_show', {'id': comentario.canalQueComenta.id }) }}"><span class="text-white"> {{ comentario.canalQueComenta.nombreCanal }}</span></a>
                                    {% else %}
                                        <span class="text-white h4"> {% trans %}Desconocido{% endtrans %}</span></a>
                                {% endif %}
                                <span> {{ comentario. fechaComentario | date('d/m/y') }} </span>
                                
                                <p>{{ comentario.contenido }}</p>
                                {% if app.user and app.user == comentario.canalQueComenta %}
                                    <button class="mb-2 btn btn-danger ml-1" 
                                    onclick="borrarComentario('{{ url }}', '{{ comentario.id }}', '{{ video.id }}', null, '{{ token }}')">{% trans %}Borrar comentario{% endtrans %}</button>
                                {% endif %}
                            </div>
                        
                        </div>
                    </div>
                {% endfor %}
        {% endif %}
        
    </div>
</div>