<div class="row m-4" >
    {% if video.comentarios is defined and video.comentarios |length > 0 %}
        <h2 id="numComentarios">{{ video.comentarios|length }} comentario(s)</h2>
        {% elseif video.comentarios is defined and video.comentarios | length == 0 %}
            <h2 id="numComentarios">Sé el primero en comentar</h2>
    {% endif %}

    {% if comentarios is defined and comentarios |length > 0 %}
        <h2 id="numComentarios">{{ comentarios|length }} comentario(s)</h2>
        {% elseif comentarios is defined and comentarios | length == 0%}
            <h2 id="numComentarios">Sé el primero en comentar</h2>
    {% endif %}
</div>

<div class="row m-4" id="comentarios">
    {% if video is defined and app.user == video.idCanal %} {#Estamos en los comentarios de un vídeo #}
        {% elseif canal is defined and app.user == canal %} {#Estamos en los comentarios de un canal #}
        {% else %}
            <div class="col-7 mb-4">
                <textarea id="comentario" placeholder="Escribe el comentario que desees" class="bg-dark text-white" rows="5" maxlength="255" onkeyup="activarBotonComentar(this)"></textarea>                            
                    
            </div>
            <div class="col-2">
            {% set url = path('comentario_new') %}
                {% if nivel == 'video' %}
                    <button id="botonComentar" disabled class="btn btn-info" onclick="escribirOMostrarComentario( '{{ url }}' , '{{ video.id }}', 'null','crear', 'video' )">Comentar</button>
                    {% elseif nivel == 'canal' %}
                        <button id="botonComentar" disabled class="btn btn-info" onclick="escribirOMostrarComentario( '{{ url }}' , 'null', '{{ canal.id }}', 'crear', 'canal' )">Comentar</button>
                {% endif %}
                
                
            </div>
    {% endif %}
    <div class="row m-4" id="soloComentarios">
        {% if comentarios is defined and comentarios | length > 0 %}
            {% for comentario in comentarios | reverse %}
                <div  class="col-8" id='{{ comentario.id }}'>
                    <span class="text-white"> {{ comentario.canalQueComenta.nombreCanal }}</span>
                    <span> {{ comentario. fechaComentario | date('d/m/y') }} </span>
                    <p>{{ comentario.contenido }}</p>
                </div>
            {% endfor %}
            {% elseif video.comentarios is defined and video.comentarios | length > 0 %}
                {% for comentario in video.comentarios | reverse %}
                    <div  class="col-8" id='{{ comentario.id }}'>
                        <span class="text-white"> {{ comentario.canalQueComenta.nombreCanal }}</span>
                        <span> {{ comentario. fechaComentario | date('d/m/y') }} </span>
                        <p>{{ comentario.contenido }}</p>
                    </div>
                {% endfor %}
        {% endif %}
        
    </div>
   
</div>