<div class="row m-4" >
    {% if video.comentarios is defined and video.comentarios |length > 0 %}
        <h2 id="numComentarios">{{ video.comentarios|length }} comentario(s)</h2>
        {% elseif video.comentarios is defined and video.comentarios | length == 0 %}
            <h2 id="numComentarios">Sé el primero en comentar</h2>
    {% endif %}

    {% if canal.comentarios is defined and canal.comentarios |length > 0 %}
        <h2 id="numComentarios">{{ canal.comentarios|length }} comentario(s)</h2>
        {% elseif canal.comentarios is defined and canal.comentarios | length == 0%}
            <h2 id="numComentarios">Sé el primero en comentar</h2>
    {% endif %}
</div>

<div class="container-fluid mt-1" id="comentarioFlash">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
</div>

<div class="row m-4" id="comentarios">
    {% if video is defined and app.user == video.idCanal %} {#Estamos en los comentarios de un vídeo #}
        {% elseif canal is defined and app.user == canal %} {#Estamos en los comentarios de un canal #}
        {% elseif app.user %}
            <div class="col-7 mb-4">
                <textarea id="comentario" placeholder="Escribe el comentario que desees" class="bg-dark text-white" rows="5" maxlength="255" onkeyup="activarBotonComentar(this)"></textarea>                            
                    
            </div>
            <div class="col-2">
            {% set url = path('comentario_new') %}
                {% if nivel == 'video' %}
                    <button id="botonComentar" disabled class="btn btn-info" onclick="escribirOMostrarComentario( '{{ url }}' , '{{ video.id }}', 'null','crear', 'video' )">Comentar</button>
                    {% elseif nivel == 'canal' %}
                        <button id="botonComentar" disabled class="btn btn-info" onclick="escribirOMostrarComentario( '{{ url }}' , 'null', '{{ canal.id }}', 'crear', 'canal' )">Comentar</button>
                {% endif %}
                
                
            </div>
    {% endif %}
    <div class="row m-4" id="soloComentarios">
        {% set url = path('comentario_delete') %}
        
        {% if canal.comentarios is defined and canal.comentarios | length > 0 %}
            {% for comentario in canal.comentarios | reverse %}
                {% set token = csrf_token('delete'~ comentario.id) %}
                <div  class="col-8" id='{{ comentario.id }}'>
                    
                    
                    <a class="blanco h4" href="{{ path('canal_show', {'id': comentario.canalQueComenta.id }) }}"><span class="text-white"> {{ comentario.canalQueComenta.nombreCanal }}</span></a>
                    
                    <span> {{ comentario. fechaComentario | date('d/m/y') }} </span>
                    {% if app.user and app.user.id == comentario.canalQueComenta.id %}
                        <button class="btn btn-danger" onclick="borrarComentario('{{ url }}', '{{ comentario.id }}', null, '{{ canal.id }}', '{{ token }}')">Borrar Comentario</button>
                    {% endif %}
                    <p>{{ comentario.contenido }}</p>
                </div>
            {% endfor %}
            {% elseif video.comentarios is defined and video.comentarios | length > 0 %}
                {% for comentario in video.comentarios | reverse %}
                    {% set token = csrf_token('delete'~ comentario.id) %}
                    <div  class="col-8" id='{{ comentario.id }}'>
                        
                        
                        <a class="blanco h4" href="{{ path('canal_show', {'id': comentario.canalQueComenta.id }) }}"><span class="text-white"> {{ comentario.canalQueComenta.nombreCanal }}</span></a>
                        <span> {{ comentario. fechaComentario | date('d/m/y') }} </span>
                        {% if app.user and app.user == comentario.canalQueComenta %}
                            <button class="btn btn-danger ml-1" onclick="borrarComentario('{{ url }}', '{{ comentario.id }}', '{{ video.id }}', null, '{{ token }}')">Borrar Comentario</button>
                        {% endif %}
                        <p>{{ comentario.contenido }}</p>
                    </div>
                {% endfor %}
        {% endif %}
        
    </div>
   
</div>